<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spommunicate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A15E6921D9025C30086DC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A15E6A61D9025C30086DC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A15E6B11D9025C30086DC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
